
.simple-select-box-enter{
    opacity: 0;
    transform: translateY(-40px);
}

.simple-select-box-enter-active{
    opacity: 1;
    transform: translateY(0);
    transition: opacity 300ms, transform 300ms;
}

.simple-select-box-exit-active{
    transform: scaleY(1);
    transform: translateY(0);
    opacity: 1; 
}

.simple-select-box-exit-active{
    opacity: 0;
    transform: translateY(-40px);
    transition: opacity 300ms, transform 300ms;
}